<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Birthday Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Birthday Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                </li>
                <li th:if="${#httpServletRequest.userPrincipal == null}" class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/registration}">Регистрация</a>
                </li>
                <li th:if="${#httpServletRequest.userPrincipal == null}" class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Войти</a>
                </li>
                <li th:if="${#httpServletRequest.userPrincipal != null}" class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/users}">Пользователи</a>
                </li>
                <li th:if="${#httpServletRequest.userPrincipal != null}" class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/list}">Дни рождения</a>
                </li>
                <li th:if="${#httpServletRequest.userPrincipal != null}" class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/list/presents}">Подарки</a>
                </li>
                <li th:if="${#httpServletRequest.userPrincipal != null}" class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/remainingTimeForm}">Калькулятор дней</a>
                <li th:if="${#httpServletRequest.userPrincipal != null}" class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/aboutApp}">О нас</a>
                </li>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent1">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li th:if="${#httpServletRequest.userPrincipal != null}" class="nav-item">
                    <span class="nav-link active" aria-current="page" th:text="${#authentication.name}"></span>
                </li>
                <li th:if="${#httpServletRequest.userPrincipal != null}" class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <hr/>

    <h3>Добавить новый подарок</h3>
    <hr/>

    <form th:action="@{/savePresent}" th:object="${presentDto}" method="POST">
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{number}" class="form-control col-4 mb-4" placeholder="Введите порядковый номер приятеля"/>

        <input type="text" th:field="*{idea}" class="form-control col-4 mb-4" placeholder="Введите идею подарка, например Дом"/>

        <input type="text" th:field="*{description}" class="form-control col-4 mb-4" placeholder="Введите описание подарка"/>

        <input type="text" th:field="*{cost}" class="form-control col-4 mb-4" placeholder="Введите стоимость подарка"/>

        <input type="hidden" th:field="*{birthdayId}" th:value="${presentDto.birthdayId}"/>

        <button type="submit" class="btn btn-primary col-2">Сохранить</button>
    </form>
    <hr/>
    <a th:href="@{/list}">Назад к списку людей</a>
</div>

</body>
</html>
